.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.board-container {
  flex-grow: 1;
  position: relative;
}

.board {
  display: flex;
  overflow-x: auto;
  padding: 1rem;
}

.stack {
  width: 25%;
  height: 100%;
  margin: 0.5rem;
}

.stack__top {
  padding-top: 0.5rem;
  margin-bottom: 0.65rem;
  color: #536988;
}

.stack__text {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.stack__list {
  /* background-color: #f2f6fa; */
  border-radius: 5px 5px 0 0;
  flex-shrink: 1;
  min-height: 3rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0.5rem;
}

.stack__add-card-container {
  padding: 0.5rem;
  /* background-color: #f2f6fa; */
  border-radius: 0 0 5px 5px;
}

.stack__add-card {
  align-items: center;
  border-radius: 5px;
  border: 2px dashed white;
  color: #536988;
  display: flex;
  flex-shrink: 0;
  height: 40px;
  justify-content: center;
  width: 100%;
}

.stack__add-card:hover {
  cursor: pointer;
  background-color: white;
}

.stack__add-card-icon {
  margin-right: 0.5rem;
}

.card {
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(62, 114, 167, 0.15);
  color: #536988;
  display: flex;
  margin-top: 10px;
  width: 100%;
}

.card:hover {
  cursor: pointer;
  opacity: 0.7;
  color: black;
}

.card:nth-child(1) {
  margin-top: 10px;
}

.card:last-child {
  margin-bottom: 10px;
}

.card__text {
  flex-shrink: 1;
  margin: 1rem 0.25rem 1rem 1rem;
  line-height: 1.4em;
}

.card__drag {
  flex-shrink: 0;
  margin-left: auto;
  margin-right: 0.25rem;
  padding: 1rem;
  cursor: grab;
}

.board::-webkit-scrollbar {
  width: 20px;
  height: 25px;
}

.stack__list::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

/* Track */
.board::-webkit-scrollbar-track {
  background: #fff !important;
}

.stack__list::-webkit-scrollbar-track {
  background: #f2f6fa !important;
  border-radius: 5px;
}

/* Handle */
.board::-webkit-scrollbar-thumb {
  background: #dad9de;
  border-radius: 30px;
  box-sizing: border-box;
  border: 8px solid #fff;
}

.stack__list::-webkit-scrollbar-thumb {
  background: #dad9de;
  border-radius: 30px;
  box-sizing: border-box;
  border: 5px solid #f2f6fa;
}

/* Handle on hover */
.board::-webkit-scrollbar-thumb:hover,
.stack__list::-webkit-scrollbar-thumb:hover {
  background: #dad9de;
}

@media only screen and (max-width: 658px) {
  body {
    overflow: auto;
  }

  .board {
    position: static;
    display: block;
    overflow: auto;
  }

  .stack {
    display: block;
    height: auto;
    width: 100%;
    margin-bottom: 2rem;
    overflow: auto;
  }

  .stack__list {
    overflow-y: auto;
  }
}
